@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  border:0;
  user-select:none;
  box-sizing:border-box;
  text-decoration:none;
  font-family: Inter,sans-serif;
 }

#app {
 height: 100vh;
 overflow: hidden;
 display: flex;
 align-items: stretch;
  
}
.view{
  padding: 2rem;
  min-height: 100vh;
   
  >.view-title{
    margin-bottom:4rem;
  }

}

.input{
  display: flex;
  flex-direction: column;
  width: 100%;
 
  >label{
    width: 100%;
    font-size: 0.9rem;
    opacity: 0.6;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-bottom: 0.3rem;
  }

  >input,textarea{
      width: 100%;
      
      padding: 1rem ;
      background-color: $offwhite;
      font-family: sans-serif;
      font-size: 1rem;

      border-radius: 8px;
       
      &:focus{
          outline: none;
      }
  }

  >textarea{
    resize: vertical;
    max-height: 300px;
    min-height: 240px;
  }
}

.enter-form{
  padding: 2rem;
  width: 100%;
  max-width: 600px;

  >form{
      margin-top: 2rem;
      display: flex;
      gap: 1rem;
      flex-direction: column;
  }
}


.alternative{
  >span{
    color: blue;
    cursor: pointer;
  }
}


.resume-preview{
    
  margin: 0 auto;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  flex: 1;

  padding: 4rem;
  padding-bottom: 12vh;

  >:nth-child(n+2){
      margin-top: 4rem;
  }
  
} 

 